{% extends 'layout/cms.html.twig' %}

{% block table %}
    <div class="table-responsive mb-3">
        <table class="table mb-0 tbl-server-info no-footer" role="grid">
            <thead class="bg-white text-uppercase">
            <tr class="ligth ligth-data" role="row">
                <th class="text-left">Nombre</th>
                <th class="text-center">Código</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-left">Balones de fútbol</td>
                <td class="text-center">11</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}